<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scale=0">
        <title>Estudantil Conservador</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
        <script src="{{ url_for('static', filename='js/menuJs.js') }}"></script>
        <link rel="icon" href="{{ url_for('static', filename='icones/logoIcone.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icones/logoIcone.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link media="screen and (max-width:319px)" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo319.css') }}">
        <link media="screen and (min-width:320px) and (max-width:479px)" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo479.css') }}">
        <link media="screen and (min-width:480px) and (max-width:599px)" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo599.css') }}">
        <link media="screen and (min-width:600px) and (max-width:767px)" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo767.css') }}">
        <link media="screen and (min-width:768px) and (max-width:1023px)" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo1023.css') }}">
        <link media="screen and (min-width:1024px) and (max-width:1199px)" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo1199.css') }}">
        <link media="screen and (min-width:1200px) and (max-width:1365px)" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo1365.css') }}">
    </head>
    <body class="loginBody">
        <div id="containerLogin">
            <header>
                <div>
                    <a href="/"><img src="{{ url_for('static', filename='icones/logo.png') }}" alt="Logo Estudantil Conservador"></a>
                </div>
            </header>
            <hr>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning" style="width: 30%">
                    {{ message }}
                </div>
            {% endfor %}
            {% block main %}

            {% endblock %}
            <br>
            <hr>
            <br>
            <footer>
                <span>Todos os Direitos Reservados - 2018</span>
            </footer>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
    </body>
</html>