{% extends "base.html" %}

<!--{% block loginStatus %}-->
<!--<ul class="contato">-->
<!--    {% if current_user.is_authenticated %}-->
<!--        <li><a href="/logout">LOGOUT</a></li>-->
<!--        <li><a href="/user/{{ current_user.name }}">PROFILE</a></li>-->
<!--    {% else %}-->
<!--        <li><a href='/login'>LOGIN</a></li>-->
<!--        <li><a href='/sobre'>CADASTRO</a></li>-->
<!--    {% endif %}-->
<!--        <li><a href='/contato'>CONTATO</a></li>-->
<!--</ul>-->
<!--{% endblock %}-->
{% block menu %}
<div id="menuEscondido">
    <a href="#" onclick="menuAparece()"><img src="{{ url_for('static', filename='icones/menu.png') }}" alt="Ícone de Menu"></a>
    <form method="get" action="paginaBusca.html">
        <input type="text" name="textoBusca" id="campoBusca" class="buscaEsconde" placeholder="Digite sua Busca...">
        <a href="#" onclick="buscaExpande()"><img src="{{ url_for('static', filename='icones/lupa.png') }}"></a>
    </form>
</div>
<div id="container">
    <section id="menuLateral" class="menuLateral menuSome">
        <nav>
            <p>Funções</p>
            <ul>
                <li><a href='/user/{{ current_user.name }}'>Meu Perfil</a></li>
                <li><a href='/following/{{ current_user.name }}'>Seguindo</a></li>
                <li><a href='/followers/{{ current_user.name }}'>Seguidores</a></li>
                {% if current_user.has_permission(4) %}
                    <li><a href='/articles'>Artigos</a></li>
                    <li><a href='/topost'>Escrever</a></li>
                    {% if current_user.is_administrator() %}
                        <li><a href="/users">Usuários</a></li>
                        <li><a href='/roles'>Grupos</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </section>
{% endblock %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning" style="width: 30%">
        {{ message }}
    </div>
{% endfor %}
{% block main %}

{% endblock %}