{% extends "login/base_login.html" %}
{% import "paginatorMacro.html" as macros %}

{% block main %}
<main id="mainNormal" class="mainPrincipal">
    <article class="contatos">
        <h1>Usuários</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">E-mail</th>
                <th scope="col">Status</th>
                <th scope="col">Role</th>
                <th scope="col">Alterar Status</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="/user/{{ user[0].name }}">{{ user[0].name }}</a></td>
                        <td>{{ user[0].email }}</td>
                        <td>{{ user[0].userStats}}</td>
                        <td>{{ user[1].name }}</td>
                        {% if user[0].userStats == 'A' %}
                            <td><a href="/trashUser/{{ user[0].id }}"><img src="{{ url_for('static', filename='icones/trash.png')}}"></a></td>
                        {% else %}
                            <td><a href="/activeUser/{{ user[0].id }}"><img src="{{ url_for('static', filename='icones/validate.png')}}"></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="paginator">
                {{ macros.pagination_widget(pagination, '.users') }}
        </div>
    </article>
</main>
{% endblock %}