{% extends "base.html" %}

{% block main %}

<main id="mainNormal" class="mainPrincipal">
            <section>
                <div>
                    <p>Reflexões</p>
                    <p class="desenho"></p>
                </div>
                <article class="link">
                    <a href="materiaAberta.html" class="linkImagem"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h1>Masculinade Frágil - A falácia dos oprimidos opressores</h1></a>
                    <p class="nomeDataPrincipal">Jean Moraes --- <i>05/01/2019</i></p>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    <br>
                </article>
                <br>
                <article class="link">
                    <a href="materiaAberta.html" class="linkImagem"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h1>Masculinade Frágil - A falácia dos oprimidos opressores</h1></a>
                    <p class="nomeDataPrincipal">Jean Moraes --- <i>05/01/2019</i></p>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    <br>
                </article>
                <br>
                <article class="link">
                    <a href="materiaAberta.html" class="linkImagem"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h1>Masculinade Frágil - A falácia dos oprimidos opressores</h1></a>
                    <p class="nomeDataPrincipal">Jean Moraes --- <i>05/01/2019</i></p>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    <br>
                </article>
                <br>
                <article class="link">
                    <a href="materiaAberta.html" class="linkImagem"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h1>Masculinade Frágil - A falácia dos oprimidos opressores</h1></a>
                    <p class="nomeDataPrincipal">Jean Moraes --- <i>05/01/2019</i></p>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    <br>
                </article>
            </section>
        </main>

{% endblock %}