{% extends "base.html" %}

{% block main %}

<main id="mainNormal" class="mainPrincipal">
        <article class="sobre">
            <h1>Sobre o Estudantil Conservador</h1>
            <div>
                <img src="icones/logo.png" alt="Logo Estudantil Conservador">
            </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in quam ac velit tempor ullamcorper. Integer nec luctus turpis. Mauris vel tortor nisi. Vivamus semper elit vel lacus tempus, a convallis odio ornare. Etiam aliquet nunc sed turpis euismod, nec pellentesque tellus vestibulum. Sed molestie lacus ipsum, commodo pellentesque magna pellentesque non. Nulla facilisi. Integer imperdiet ultricies ligula, sed vehicula orci tempor a. Etiam elementum mattis auctor. Nulla in lacus ultricies, pretium enim vel, iaculis est.</p>
                <p>Phasellus aliquet lacus nec augue interdum vulputate. Vivamus lacus enim, luctus ut lacinia sit amet, ultrices sed dolor. Nullam id scelerisque felis. Cras pretium euismod auctor. Maecenas erat arcu, aliquet non ullamcorper nec, efficitur id lorem. Nunc aliquet rutrum risus, vel facilisis mi feugiat in. Quisque porta neque ut urna sollicitudin fermentum. Vestibulum luctus lacus vel varius laoreet. Nullam consectetur fermentum velit eget congue. Aliquam luctus pretium tellus vel egestas. Morbi tincidunt ac nunc at viverra. Integer iaculis tristique volutpat. Aenean ut odio augue. Maecenas ac metus aliquet, hendrerit nisi id, imperdiet diam. Sed eleifend porttitor sodales.</p>
                <p>Nullam tristique mauris leo, sed viverra massa cursus sit amet. Sed gravida augue a dolor placerat mattis. Vestibulum id turpis eget neque aliquet posuere. Aenean placerat consectetur bibendum. Praesent non molestie sapien. Ut euismod ultricies mattis. Maecenas sit amet risus a neque pulvinar placerat. Quisque vel ipsum eget nisl malesuada semper sit amet id dolor. Mauris in enim eu risus rutrum scelerisque vel vel felis. Phasellus convallis sapien turpis, vitae bibendum orci accumsan ut. Praesent elementum pellentesque consequat. In viverra tristique lectus, in laoreet diam faucibus in. Vestibulum tempor quam a venenatis ultricies. Nunc bibendum arcu nulla, a vulputate erat tempus eu. Maecenas eu tellus et leo aliquam cursus.</p>
        </article>
</main>

{% endblock %}