{% extends "base.html" %}

{% block main %}

<main id="mainNormal" class="mainPrincipal">
            <section>
                <div>
                    <p>Autores</p>
                    <p class="desenho"></p>
                </div>
                <article class="link">
                    <a href="materiaAberta.html" class="linkImagem"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h1>Jean Moraes</h1></a>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    <ul class="shareIcons">
                        <li><a href="#"><img src="icones/facebook.png"></a></li>
                        <li><a href='#'><img src="icones/instagram.png"></a></li>
                        <li><a href='#'><img src="icones/twitter.png"></a></li>
                    </ul>
                    <br>
                </article>
                <br>
                <article class="link">
                    <a href="materiaAberta.html" class="linkImagem"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h1>Francisca</h1></a>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    <ul class="shareIcons">
                        <li><a href="#"><img src="icones/facebook.png"></a></li>
                        <li><a href='#'><img src="icones/instagram.png"></a></li>
                        <li><a href='#'><img src="icones/twitter.png"></a></li>
                    </ul>
                    <br>
                </article>
                <br>
                <article class="link">
                    <a href="materiaAberta.html" class="linkImagem"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h1>Maria</h1></a>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    <ul class="shareIcons">
                        <li><a href="#"><img src="icones/facebook.png"></a></li>
                        <li><a href='#'><img src="icones/instagram.png"></a></li>
                        <li><a href='#'><img src="icones/twitter.png"></a></li>
                    </ul>
                    <br>
                </article>
                <br>
                <article class="link">
                    <a href="materiaAberta.html" class="linkImagem"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h1>Zequinha</h1></a>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    <ul class="shareIcons">
                        <li><a href="#"><img src="icones/facebook.png"></a></li>
                        <li><a href='#'><img src="icones/instagram.png"></a></li>
                        <li><a href='#'><img src="icones/twitter.png"></a></li>
                    </ul>
                    <br>
                </article>
            </section>
        </main>

{% endblock %}