{% extends "base.html" %}

{% block main %}
    <main id="mainNormal" class="mainPrincipal">
        <article class="contatos">
            <h1>Contato</h1>
            {% if mensagem == True %}
                <p>Sua mensagem foi enviada com sucesso !!</p>
            {% else %}
                <form method="POST" action="/contato">
                    <input type="text" name="nome" placeholder="Nome: " required><br>
                    <input type="email" name="email" placeholder="E-mail (Remetente): " required><br>
                    <input type="text" name="assunto" placeholder="Assunto: " required><br>
                    <textarea name='mensagem' maxlength="280" placeholder="Deixe sua mensagem: "></textarea><br>
                    <button name="enviar" value="Enviar">Enviar</button>
                </form>
            {% endif %}
        </article>
    </main>
{% endblock %}