{% extends "base.html" %}

{% block main %}

<main id="mainNormal" class="mainPrincipal">
                <section>
                    <div>
                        <p>Principais</p>
                        <p class="desenho"></p>
                    </div>
                    <article class="principal">
                        <a href="materiaAberta.html"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h1>Masculinade Frágil - A falácia dos oprimidos opressores</h1></a>
                        <p class="nomeDataPrincipal">Jean Moraes --- <i>05/01/2019</i></p>
                        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <br>
                    <hr>
                </section>
                <section>
                    <div>
                        <p>Principais</p>
                        <p class="desenho"></p>
                    </div>
                    <article class="principal">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h1>Masculinade Frágil - A falácia dos oprimidos opressores</h1></a>
                        <p class="nomeDataPrincipal">Jean Moraes --- <i>05/01/2019</i></p>
                        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <br>
                    <hr>
                </section>
                <section>
                    <div>
                        <p>Principais</p>
                        <p class="desenho"></p>
                    </div>
                    <article class="principal">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h1>Masculinade Frágil - A falácia dos oprimidos opressores</h1></a>
                        <p class="nomeDataPrincipal">Jean Moraes --- <i>05/01/2019</i></p>
                        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <br>
                    <hr>
                </section>
                <section>
                    <div>
                        <p>Principais</p>
                        <p class="desenho"></p>
                    </div>
                    <article class="principal">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h1>Masculinade Frágil - A falácia dos oprimidos opressores</h1></a>
                        <p class="nomeDataPrincipal">Jean Moraes --- <i>05/01/2019</i></p>
                        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nunc, pharetra eget porta nec, mattis ut urna. Maecenas augue erat, iaculis vitae vestibulum eget, maximus sed dui.</p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <article class="secundarios">
                        <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                        <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                        <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                    </article>
                    <br>
                    <hr>
                </section>
            </main>

{% endblock %}