{% extends "base.html" %}

{% block main %}
    <main id="mainNormal" class="mainPrincipal">
        {% for section in sections %}
            <section>
                <div>
                    <p>{{ section }}</p>
                    <p class="desenho"></p>
                </div>
                <article class="principal">
                    <a href="{{ url_for('main.openArticle', title=sections[section][0][0].title).replace('%20', '_') }}"><img src="{{ url_for('static', filename='images/%s'%sections[section][0][0].image) }}" alt=""></a>
                    <a href="{{ url_for('main.openArticle', title=sections[section][0][0].title).replace('%20', '_') }}"><h1>{{ sections[section][0][0].title }}</h1></a>
                    <p class="nomeDataPrincipal">{{ sections[section][0][1].name }} --- <i>{{ sections[section][0][0].date }}</i></p>
                    <p class="intro">{{ sections[section][0][0].lide }}</p>
                </article>
                {% for i in range(1, 4) %}
                    <article class="secundarios">
                        <a href="{{ url_for('main.openArticle', title=sections[section][i][0].title).replace('%20', '_') }}"><img src="{{ url_for('static', filename='images/%s'%sections[section][i][0].image) }}" alt=""></a>
                        <a href="{{ url_for('main.openArticle', title=sections[section][i][0].title).replace('%20', '_') }}"><h1>{{ sections[section][i][0].title }}</h1></a>
                        <p class="nomeDataSecundario">{{ sections[section][i][1].name }} --- <i>{{ sections[section][i][0].date }}</i></p>
                    </article>
                {% endfor %}
                <br>
                <hr>
            </section>
        {% endfor %}
    </main>
{% endblock %}