{% extends "base.html" %}

{% block main %}

<main id="mainNormal" class="mainPrincipal">
            <section>
                <div>
                    <p>Artigos relacionados a:<b>xxxxxxxxxx</b></p>
                </div>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
                <article class="secundarios linhaBloco">
                    <a href="#"><img src="icones/homem.jpg" alt="Homem Ajustando a Gravata"></a>
                    <a href="#"><h2>Masculinade Frágil - A falácia dos oprimidos opressores</h2></a>
                    <p class="nomeDataSecundario">Jean Moraes --- <i>05/01/2019</i></p>
                </article>
            </section>
        </main>

{% endblock %}